* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1535px;
  margin: 0 auto;
  padding: 0 15px;
}

table {
  width: 800px;
  height: max-content;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  text-align: left;
}

thead th {
  cursor: pointer;
  background-color: #55608f;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
  position: relative;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.app-btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: #fff;
  background-color: transparent;
  background-color: #49a09d;
  transition: background-color .2s ease-in-out;
}

.app-btn:hover {
  background-color: #5f2c82;
  transition: background-color .2s ease-in-out;
}
